{% extends "layout.html.twig" %}

{% block main %}
	<main>
		<section class="title_about_section_mobile">
			<h2>Bienvenue sur Lanly !</h2>
		</section>
		<section class="about_section_mobile">

			<h3>Bonjour à tous utilisateur !</h3>

			<p>Je m'appelle Eloan, et voici mon tout premier projet de concéption de site de A à Z.</p>

			<p>Afin de rester dans le thème de mon projet professionel, je vous propose ici un site d'apprentissage de langues étrangères, Lanly.</p>

			<p>Je suis fier de vous le présenter aujourd'hui sous cette forme.</p>

			<img src="https://this-person-does-not-exist.com/img/avatar-gen11458b284947739865cd857e828f1f21.jpg" alt="">
		</section>
	</main>
{% endblock %}
