{% extends "layout.html.twig" %}

{% block main %}
	<main>
		<section class="title_about_section_mobile">
			<h2>Vous souhaitez me contacter ?</h2>
		</section>
		<section class="about_section_mobile"></section>
	</main>
{% endblock %}
