{% extends "layout.html.twig" %}


{% block main %}


	<main>

		<div class='flex_desktop'>
			<section class="first_text_main_mobile">
				<article class="text_container">
					<h2 class="reveal-1">Plongez dans une expérience d'apprentissage immersive :</h2>
					<p class="reveal-2">Découvrez une plateforme d'apprentissage captivante, où chaque exercice et révision est conçu pour vous immerger dans la langue et la culture que vous explorez. Nos exercices évolutifs, corrections détaillées et courbes de progression font de l'apprentissage une expérience passionnante.</p>
					<button>
						<a href="index.php?route=login">COMMENCER</a>
					</button>
					<img class="editor_play_desktop" src="assets/images/play.png" alt="">
				</article>
			</section>


			<section class='full_earth_dektop'>
				<img class="" src="assets/images/terre_full.png" alt="">
			</section>


			{# Slider des langages proposés #}
			<section class="slider_contry_mobile">
				<div class="swiper">
					<div class="swiper-wrapper">
						{% for language in languages %}
							<div class="swiper-slide">
								<a href="index.php?route=langue&language_id={{language.id}}"><img src="{{language.drapeau}}" alt=""></a>
							</div>
						{% endfor %}
					</div>


				</div>
				<button>
					<a href="index.php?route=register">Un univers s'offre à vous !</a>
				</button>
			</section>


			<section class="editor_section_mobile">
				<img src="assets/images/appdark.png" alt="">
				<img src="assets/images/playdark.png" alt="">
			</section>

			<section class="last_text_main_mobile">
				<article class="text_container_last_paragraphe">
					<img class="editor_play_desktop" src="assets/images/app.png" alt="">
					<button class="button_last_paragraphe_dektop">
						<a href="index.php?route=login">COMMENCER</a>
					</button>
					<h2 class="reveal-1">Apprenez avec une communauté mondiale :</h2>
					<p class="reveal-2">Rejoignez une communauté internationale passionnée par l'apprentissage des langues. Partagez vos succès, découvrez de nouvelles cultures et échangez avec d'autres utilisateurs du monde entier. Notre plateforme transforme l'apprentissage en une expérience collaborative et enrichissante.</p>
				</article>
			</section>


		</div>

		<section class='swiper_desktop '>
			<div class="swiper mySwiper reveal-1">
				<div class="swiper-wrapper ">
					{% for language in languages %}
						<div class="swiper-slide ">
							<a class="" href="index.php?route=langue&language_id={{language.id}}"><img src="{{language.drapeau}}" alt=""></a>
						</div>
					{% endfor %}
				</div>
			</section>

		</main>

	{% endblock %}
