{% extends "layout.html.twig" %}


{% block main %}
	<main>
		<section class="title_question_exercice_mobile">
			<h1>A vous de jouer !</h1>
		</section>

		{% for e in exercice %}
			<section class="question_exercice_mobile">
				<div class="question">
					<img src="https://picsum.photos/300/400" alt="">
					<h2>question
						{{ loop.index}}</h2>
					<p>
						{{ e.question }}
					</p>
				</div>
			</section>
		{% endfor %}

		<section class="form_question_exercice_mobile">
			<form class='form_exercice'>
				<input type="hidden" name="csrf-token" id="csrf-token" value=" {{ session.csrf_Token }} "/>
				<input type="hidden" name="course_id" value="{{ exercice[0].course_id }}">
				<input type="text" name="response" id="response" placeholder="enter your reponse here">
				{% if exercice|length == 1 %}
					<button class='lastButton' id="sendButton">next question</button>
				{% else %}
					<button id="sendButton">next question</button>
				{% endif %}
			</form>
		</section>
	</main>
{% endblock %}
