{% extends "layout.html.twig" %}

{% block main %}
	<h1>Vous y êtes presque</h1>
	<a href="index.php?route=course&cat_id={{ category.id }}">Course</a>
	<a href="index.php?route=exercice&cat_id={{ category.id }}">Exercices</a>
{% endblock %}
