{% extends "layout.html.twig" %}

{% block main %}
	<main id="login" class="container py-5 px-3">
		<h1 class="mb-5"></h1>

		<h2 class="mt-5"></h2>

		<form action="index.php?route=check-login" method="post">
			<input type="hidden" name="csrf-token" id="csrf-token" value=" {{ session.csrf_Token }} "/>
			<fieldset>
				<label for="email" class="form-label">Nom d'utilisateur</label>
				<input type="text" id="email" name="email" class="form-control"/>
			</fieldset>
			<fieldset>
				<label for="password" class="form-label">Mot de passe</label>
				<input type="password" id="password" name="password" class="form-control"/>
			</fieldset>
			<fieldset>
				<button type="submit" class="btn btn-primary">Login</button>
			</fieldset>
		</form>
	</main>

	{% if session.utilisateur is not empty %}
		{{ session.utilisateur }}<br>
	{% endif %}

	{% if session.hash is not empty %}
		{{ session.hash }}<br>
	{% endif %}
{% endblock %}
