{% extends "layout.html.twig" %}

{% block main %}
	<form class='form_admin' action="index.php?route=update_info_example" method="post">
		<input type="hidden" class="form-control" id="example_id" name="example_id" value="{{example_id}}">

		<div class="form-group">
			<label for="description">Description :</label>
			<textarea class="form-control" id="description" name="description"></textarea>
		</div>

		<div class="form-group">
			<label for="course_id">Course :</label>
			<select class="form-control" id="course_id" name="course_id">
				<option value="1">Les articles définis et indéfinis
				</option>
				<option value="2">L'accord des adjectifs
				</option>
				<option value="3">Les prépositions de lieu</option>
				<option value="4">Les animaux
				</option>
				<option value="5">La nature et l'environnement
				</option>
				<option value="6">Les règles d'accord du participe passé</option>
				<option value="7">Les homophones</option>
			</select>
		</div>


		<div class="form-group">
			<label for="language">Language</label>
			<select class="form-control" id="language" name="language">
				<option value="1">français</option>
				<option value="2">allemand</option>
				<option value="3">italien</option>
				<option value="4">espagnol</option>
				<option value="5">anglais</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary">Enregistrer</button>
	</form>
{% endblock %}
